# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

node_modules/
.idea/
logs/
*.save
*.save.*
*.nicehash
/npm-debug.log
/config.json
/blacklist.json
/redirect.js
